{% extends 'main/base.html' %}
{% load static %}

{% block title %}Accueil - Portfolio{% endblock %}

{% block content %}
<header class="hero">
    <div class="hero-content">
        <h1>Bienvenue, je suis <span class="highlight">Jossua</span></h1>
        <p>Développeur passionné, spécialisé en Python et Django.</p>
        <a href="{% url 'projects' %}" class="btn-custom">Voir mes projets</a>
    </div>
</header>

<!-- Section À Propos -->
<section class="about-me py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Image -->
            <div class="col-md-5 text-center">
                <img src="{% static 'C:\Users\jossu\Documents\perso\dev\portfolio\main\static\main\images\imgs.jpeg' %}" alt="Photo de moi" class="about-img">
            </div>
            <!-- Texte -->
            <div class="col-md-7">
                <h2 class="about-title">À propos de moi</h2>
                <p class="about-text">
                    Passionné par le développement web et les technologies modernes, 
                    je crée des solutions performantes et élégantes. Spécialisé en <strong>Python, Django et SQL</strong>, 
                    j’aime concevoir des applications web efficaces et intuitives.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Section Stack Technologies -->
<section class="tech-stacks py-5">
    <div class="container">
        <h2 class="text-center text-white mb-4">Ma Stack Technologique</h2>
        <div class="row justify-content-center">
            <!-- Exemple de Stack (répéter les divs avec des logos pour chaque technologie) -->
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'C:\Users\jossu\Documents\perso\dev\portfolio\main\static\main\images\imgs.jpeg' %}" alt="Logo Stack 1" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'C:\Users\jossu\Documents\perso\dev\portfolio\main\static\main\images\imgs.jpeg' %}" alt="Logo Stack 2" class="img-fluid">
                </div>
            </div>
            <!-- Ajoute plus de divs ici pour d'autres stacks -->
        </div>
    </div>
</section>

{% endblock %}
