{% extends 'main/base.html' %}
{% load static %}

{% block title %}Accueil - Portfolio{% endblock %}

{% block content %}
<header class="hero">
    <div class="hero-content">
        <h1><span id="dynamic-word">Bonjour</span></h1>
        <p>Plongez dans mon univers où chaque ligne de code donne vie à vos projets !</p>
        <a href="{% url 'projects' %}" class="btn-custom">Voir mes projets</a>
    </div>
</header>

<!-- Section À Propos -->
<section class="about-me py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Image -->
            <div class="col-md-5 text-center">
                <img src="{% static 'main\images\perso.jpg' %}" alt="Photo de moi" class="about-img">
            </div>
            <!-- Texte -->
            <div class="col-md-7">
                <h2 class="about-title">À propos de moi</h2>
                <p class="about-text">
                    Passionné par le développement web et applicatif &
                    <B>Expert Informatique et Système d'Information</B> de formation, 
                    je conçois des applications à la fois performantes, intuitives et adaptées aux besoins des utilisateurs.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Section Stack Technologies -->
<section class="tech-stacks py-5">
    <div class="container">
        <h2 class="text-center text-white mb-4">Ma stack technique</h2>
        <div class="row justify-content-center">
            <!-- Exemple de Stack (répéter les divs avec des logos pour chaque technologie) -->
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\py.png' %}" alt="Logo Stack 1" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\django.png' %}" alt="Logo Stack 2" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\pgs.png' %}" alt="Logo Stack 3" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\pytest.png' %}" alt="Logo Stack 4" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\fast.png' %}" alt="Logo Stack 5" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\flask.png' %}" alt="Logo Stack 6" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\pandas.png' %}" alt="Logo Stack 7" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\sqlite.png' %}" alt="Logo Stack 8" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\git.png' %}" alt="Logo Stack 9" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\docker.png' %}" alt="Logo Stack 10" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\react.png' %}" alt="Logo Stack 11" class="img-fluid">
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 mb-4">
                <div class="tech-card">
                    <img src="{% static 'main\images\Json.png' %}" alt="Logo Stack 12" class="img-fluid">
                </div>
            </div>
            <!-- Ajoute plus de divs ici pour d'autres stacks -->
        </div>
    </div>
</section>

<script src="{% static 'js/script.js' %}"></script>


{% endblock %}
