{% extends 'main/base.html' %}

{% block title %}Projets - Portfolio{% endblock %}

{% block content %}
<h1>Mes Projets</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projet 1</h5>
                <p class="card-text">Description du projet 1.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projet 2</h5>
                <p class="card-text">Description du projet 2.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
