{% extends 'main/base.html' %}
{% load static %}

{% block title %}Projets - Portfolio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="custom-title text-center mb-4">Mes Projets</h1>

    <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <a href="https://github.com" target="_blank">
                                <img src="{% static 'main/images/imgs.jpeg' %}" class="card-img-top" alt="Projet 1">
                            </a>
                                <div class="card-body text-center">
                                    <h5 class="card-title">🎲 PokPok</h5>
                                    <p class="card-text"><B>PokPok</B> est une plateforme de <B>poker en ligne</B> où les joueurs s'affrontent <B>sans enjeu financier</B>, mais avec un système de classement Elo pour mesurer leur performance. Grâce à <B>Python, Django/FastAPI et SQL</B>, le site assure une gestion fluide des parties et un suivi précis des classements, offrant une expérience <B>compétitive</B> et <B>ludique.</B></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <a href="https://github.com" target="_blank">
                                <img src="{% static 'main/images/imgs.jpeg' %}" class="card-img-top" alt="Projet 2">
                            </a>
                                <div class="card-body text-center">
                                    <h5 class="card-title">☕ Fellowship</h5>
                                    <p class="card-text">Avec <B>Fellowship</B>, les employés d’une même entreprise peuvent partager des <B>pauses café en ligne</B> via un système de visioconférence aléatoire. Pensée pour recréer des échanges informels en télétravail, cette application renforce la <B>cohésion d’équipe</B> en favorisant des discussions spontanées entre collègues.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <a href="https://github.com" target="_blank">
                                <img src="{% static 'main/images/imgs.jpeg' %}" class="card-img-top" alt="Projet 3">
                            </a> 
                                <div class="card-body text-center">
                                    <h5 class="card-title">🎵 MusicBox</h5>
                                    <p class="card-text">Inspirée de Letterboxd, MusicBox permet aux utilisateurs <B>d’évaluer et de classer leurs albums préférés.</B> L’application propose un espace interactif où chacun peut <B>noter, commenter et découvrir</B> de nouveaux artistes, créant ainsi une véritable communauté de passionnés de musique.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <a href="https://github.com" target="_blank">
                                <img src="{% static 'main/images/imgs.jpeg' %}" class="card-img-top" alt="Projet 3">
                            </a>    
                                <div class="card-body text-center">
                                    <h5 class="card-title">🕹️ ChiFouMi</h5>
                                    <p class="card-text">Voici le projet <B>ChiFouMi</B>, une bataille épique de <B>Pierre, Feuille, Ciseaux !</B> Pas besoin d'un grand écran ou de manettes, il te suffit de cliquer sur l'un des trois choix, et c'est parti ! Comme tout bon jeu, on peut recommencer autant de fois qu'on veut, histoire de voir si la machine finit par se prendre une claque... Bref, Pierre, Feuille, Ciseaux, mais en version 2.0 avec un petit côté <B>fun</B> et <B>sans prise de tête !</B></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Contrôles du carrousel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
{% endblock %}
